- if object.errors.any?
  .callout.callout-danger
    %p= "The #{object.class.name.downcase} contains #{pluralize(object.errors.count, 'error')}."
    %ol 
      - object.errors.full_messages.each do |msg|
        %li= msg
