// Place all the styles related to the Boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.board {
    position: relative;
}

#board_img {
    position: relative;
    /*padding: 20px;*/
    /*-webkit-box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);*/
    /*box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);*/
}

.tack_icon {
    position: absolute;
    font-size: 24px;
    text-shadow: 0 0 2px #fff;
    -moz-text-shadow: 0 0 2px #fff;
    -webkit-text-shadow: 0 0 2px #fff;
    color: #f00;
}
